In [10]:
import glob
import pandas as pd
import numpy as np

In [24]:
client_1 = pd.read_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_1/client_1.csv').to_numpy().flatten()
client_2 = pd.read_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_1/client_2.csv').to_numpy().flatten()
client_3 = pd.read_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_1/client_3.csv').to_numpy().flatten()
client_4 = pd.read_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_1/client_4.csv').to_numpy().flatten()

n_1 = len(client_1)
n_2 = len(client_2)
n_3 = len(client_3)
n_4 = len(client_4)

np.random.shuffle(client_1)
np.random.shuffle(client_2)
np.random.shuffle(client_3)
np.random.shuffle(client_4)

In [31]:
np.concatenate((client_1[:int(n_1/4)], client_2[:int(n_2/4)], client_3[:int(n_3/4)], client_4[:int(n_4/4)]), axis=0)

array(['10.npy', '100.npy', '1000.npy', ..., 'n0058.npy', 'n0059.npy',
       'n0060.npy'], dtype=object)

In [37]:
new_client_1 = pd.DataFrame(np.concatenate((client_1[:int(n_1/4)], client_2[:int(n_2/4)], client_3[:int(n_3/4)], client_4[:int(n_4/4)]), axis=0))
new_client_2 = pd.DataFrame(np.concatenate((client_1[int(n_1/4):int(n_1*2/4)], client_2[int(n_2/4):int(n_2*2/4)], client_3[int(n_3/4):int(n_3*2/4)], client_4[int(n_4/4):int(n_4*2/4)]), axis=0))
new_client_3 = pd.DataFrame(np.concatenate((client_1[int(n_1*2/4):int(n_1*3/4)], client_2[int(n_2*2/4):int(n_2*3/4)], client_3[int(n_3*2/4):int(n_3*3/4)], client_4[int(n_4*2/4):int(n_4*3/4)]), axis=0))
new_client_4 = pd.DataFrame(np.concatenate((client_1[int(n_1*3/4):], client_2[int(n_2*3/4):], client_3[int(n_3*3/4):], client_4[int(n_4*3/4):]), axis=0))

In [46]:
new_client_1.to_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_2/client_1.csv', index=False, header=False)
new_client_2.to_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_2/client_2.csv', index=False, header=False)
new_client_3.to_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_2/client_3.csv', index=False, header=False)
new_client_4.to_csv('/mnt/c/Users/PCM/Dropbox/TASF/4_clients/split_2/client_4.csv', index=False, header=False)

In [44]:
print(len(new_client_1), len(new_client_2), len(new_client_3), len(new_client_4))
new_client_4.head()

3826 3830 3830 3830

          0
0   247.npy
1  1391.npy
2   226.npy
3  1418.npy
4   313.npy